:root {
  --tile-size: 5rem;
}

.tile {
  cursor: pointer;
  font-size: 0.65rem;
  display: inline-block;
  border: 1px solid #444;

  height: var(--tile-size);
  width: var(--tile-size);
  overflow: hidden;
  flex-shrink: 0;
}